header{
    background-color: rgba(234, 99, 2, 0.9);
    padding: 20px 0px;/* 20px superior e inferior --- 0px laterales//// Propiedad de espaciamiento externo */
}

.logoEnlaces{
    position: relative;
    width:60%;/* 940px;*/
    margin: 0px auto; /* Cero px para los lados y auto para los bordes supp e inferior*/
} 
nav  {
    position: absolute;
    top: 110px;;
    right: 0px;

}
nav li{
    display: inline;
    margin: 0px 0px 0px 20px; /*genera distanciamiento entre los elemntos de la lista, tiene 4 parametros*/
}

nav a{
    text-transform: uppercase;  /*transforma a texto en mayuscula*/
    color: black;
    font-weight: bold;/* Texto en Negrilla*/
    font-size: 26px; /*tamaño de letras*/
    text-decoration: none; /*quitar el subrayado que el navegador coloca por defecto a los Enlaces o hipervinculos*/ 
} 

nav a:hover{ /*Captura el movimiento del mouse (Pseudo Clase de CSS)*/
    color: blueviolet;
    text-decoration: underline;

}

.mainproductos{
    background-color: rgba(34, 2, 64, 0.781);
}

.tiposDeTrabajo{
    width: 65%;
    margin: 0px auto;
    padding: 50px;
}

.tiposDeTrabajo li{
    display: inline-block;
    text-align: center; /*Alinea el texto al centro*/
    width: 30%;
    vertical-align: top; /*Alineación vertical respecto de top*/
    /*background-color: aqua;*/
    margin: 0% 1.5%;/*  Margenes de 0% leteral y 1.5% en los laterales*/
    padding: 30px 20px; /*espaciamiento interno-- 30px en la vertical y 20px en la horizontal -- aumenta el tamaño*/
    box-sizing: border-box; /*Tamaño de la caja---el borde de cada uno de los items sera el limite del espacio que va ser definido, en nuestro caso seria el 
    30%*/
    /*border-color: black;
    border-width: 3px;
    border-style: solid;*/

    border: 2px solid rgb(234, 99, 2);;
    border-radius: 15px; /*bordes redondeados*/
}

.tiposDeTrabajo li:hover{ /* propiedad que Captura el movimiento del mouse(Pseudo Clase de CSS)*/
    border-width: 3px;
}

.tiposDeTrabajo li:active{ /* propiedad que Captura el click del mouse(Pseudo Clase de CSS)*/
    border-color: rgb(15, 177, 222);
}

.tiposDeTrabajo h2{
    font-size: 30px;/*tamaño de letras*/
    font-weight: bold;/* Texto en Negrilla*/
    color: aliceblue;

}

.tiposDeTrabajo li:hover h2{ /*Colocamos esta descripción para ser mas especificos, ya que con ".tiposDeTrabajo h2" no realiza captura el movimiento del mouse sobre el h2*/
    font-size: 33px;

} 

.tiposDeTrabajo p{
    color: aliceblue;
}
.productoDescripcion {
    font-size: 20px;
}

.productoPrecio {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/
.maincontacto {
    background-color: rgba(34, 2, 64, 0.73);
    /*width: 940px;
    margin: 0 auto;*/
    
}
form{
    margin: 40px 0;/*margen superior e inferior de 40px y margen laterales de cero*/
    padding: 20px 30px;
    margin: 0 450px;
 
}
form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 350px;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
footer{
    text-align: center;        
    background-color: rgb(15, 177, 222);
    padding: 40px;
}
.copyRight {
    color: rgb(255, 255, 255);
    font-size: 10px;
    margin: 25px;
}


