body{
    font-family: 'Rajdhani', sans-serif;
    padding: 0;
    margin: 0;
}
header{
    background:linear-gradient(rgb(234, 99, 2) 75%,rgb(107, 25, 169));
    padding: 20px 0px;/* 20px superior e inferior --- 0px laterales//// Propiedad de espaciamiento externo */
}


.logoEnlaces{
    position: relative;
    width: 940px; /*60%; 940px;*/
    margin: 0px auto; /* Cero px para los lados y auto para los bordes supp e inferior*/
} 
nav  {
    position: absolute;
    top: 110px;;
    right: 0px;

}
nav li{
    display: inline;
    margin: 0px 0px 0px 20px; /*genera distanciamiento entre los elemntos de la lista, tiene 4 parametros*/
}

nav a, .enlaceHome, .enlaceProducto, .enlaceContacto{
    
    text-transform: uppercase;  /*transforma a texto en mayuscula*/
    color: black;
    font-weight: bold;/* Texto en Negrilla*/
    font-size: 3em ; /*tamaño de letras*/
    text-decoration: none; /*quitar el subrayado que el navegador coloca por defecto a los Enlaces o hipervinculos*/ 
} 

nav a:hover{ /*Captura el movimiento del mouse (Pseudo Clase de CSS)*/
    color: blueviolet;
    text-decoration: underline;

}

.mainProductos{
    background:linear-gradient(rgb(107, 25, 169) 80%, rgb(15, 177, 222));   
    /* juega con el degrade de colores utilizando linear y radio Gradient respectivamente*/
    text-align: center;
}

.mainContacto{
     background:linear-gradient(rgb(107, 25, 169) 80%, rgb(15, 177, 222));   
    /* juega con el degrade de colores utilizando linear y radio Gradient respectivamente*/
    
    }

.tiposDeTrabajo{
    width: 65%;
    margin: 0px auto;
    padding: 50px;
}

.tiposDeTrabajo li{
    display: inline-block;
   
    text-align: center; /*Alinea el texto al centro*/
    width: 25%;
    vertical-align: top; /*Alineación vertical respecto de top*/
    /*background-color: aqua;*/
    margin: 0% 1.5%;/*  Margenes de 0% superior/inferior y 1.5% en los laterales*/
    padding: 30px 20px; /*espaciamiento interno-- 30px en la vertical y 20px en la horizontal -- aumenta el tamaño*/
    box-sizing: border-box; /*Tamaño de la caja---el borde de cada uno de los items sera el limite del espacio que va ser definido, en nuestro caso seria el 
    30%*/
    /*border-color: black;
    border-width: 3px;
    border-style: solid;*/

    border: 2px solid rgb(234, 99, 2);;
    border-radius: 15px; /*bordes redondeados*/
}

.cajaImagen{
    text-align: center;
    width:150px;
    height: auto;
    margin: auto;
}

.imagen{
    width: 100%;
    height: auto;
    display: inline-block;
    
}

.tiposDeTrabajo li:hover{ /* propiedad que Captura el movimiento del mouse(Pseudo Clase de CSS)*/
    border-width: 3px;
    border-color:white ;
}

.tiposDeTrabajo li:active{ /* propiedad que Captura el click del mouse(Pseudo Clase de CSS)*/
    border-color: rgb(15, 177, 222);
}

.tiposDeTrabajo h2{
    font-size: 30px;/*tamaño de letras*/
    font-weight: bold;/* Texto en Negrilla*/
   
}

.tiposDeTrabajo li:hover h2{ /*Colocamos esta descripción para ser mas especificos, ya que con ".tiposDeTrabajo h2" no realiza captura el movimiento del mouse sobre el h2*/
    font-size: 33px;
    color: white;

} 

.tiposDeTrabajo li:hover .productoPrecios,  .tiposDeTrabajo li:hover .productoDescripcion{
    color: white;
}


.productoDescripcion {
    font-size: 20px;
}

.productoPrecios {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/

    

form{
    margin: 40px 0;/*margen superior e inferior de 40px y margen laterales de cero*/
    padding: 20px 30px;
    margin: 0 450px;
 
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 350px;
}

.checkbox{
    margin: 20px 0px;
}

.enviar{
    width: 300px;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(107, 25, 169);
    background: rgb(217, 112, 19);
    border: none;
    border-radius: 7px;
    transition: 1s all; /* (all se refiere a los atributos background y transform dentro de .enviar:hover)permite que al pasar hacer un destaque con "hover" sea mas notoble al realizarlo*/
    cursor: pointer;/*cambia la flecha del puntero por la manito apuntando con el indice*/
}

.enviar:hover{
    background: rgb(174, 16, 222);
    transform: scale(1.1) rotate(2deg);/*agranda la escala en forma global, en nuestro caso un 10%*/
   /*rota la cantidad de grados*/
}

table{
    margin: 40px 40px;
}

thead{
    background: rgb(4, 4, 4);
    color: aliceblue;
    font-weight: bold;
}
.horario{
    display: flex;
    justify-content: center;
}
th:nth-child(1){
    background-color: black;
}
th:nth-child(2){
    background-color: black;
}
td, th{

    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    padding: 8px 15px;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

footer{
    text-align: center;        
    background-color: rgb(15, 177, 222);
    padding: 10px;
}
.copyRight {
    color: rgb(255, 255, 255);
    font-size: 10px;
    margin: 25px;
}

/* Aqui inicia el CSS para nuestra pagina inicial. HOME-------------------------------------------------------------------------------------------*/

.banner{
    width: 100%;
}
.principal{
    padding: 1px 0;
    background-color:rgb(107, 25, 169);
    
}
.tituloPrincipal{
    text-align: center;
    font-size: 3em; /*3em triplica el tamaño que viene la fuente por defecto, pero este depende del navegador*/
    margin: 1em 0 1em; /* 0 top, 0 Der y botton 1em;*/
    clear: left; /* limpie cualquier configuración despues del tituloPrincipal, pero el lado izquierdo*/
}

.texto {
    font-size: 1.5em;
    padding-left: 25%;
    padding-right: 25%;
    line-height: 1.3;
}

.principal p{
    margin: 0 0 1em; 
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 30%;
    float: left;/*sirven para que el elemento se destaque en la pantalla, la superficie del elemento continúa siendo utilizada y los otros elementos de texto o elementos en línea se posicionan alrededor de él.*/
    margin: 0 20px 20px 0; /* 0 top- 20px Derecha- 20px botton- 0 Izquierda (como las manesillas del reloj)*/
}

.mapa{
    padding: 3em 0;
    text-align: center;
    background: rgb(107, 25, 169) ; 
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
    font-size: 1.5em;
}

.mapaContenido{
    width: 940px;
    margin: 0 auto;
   
}

.diferenciales{
    padding: 1em;
    background: linear-gradient(rgb(107, 25, 169) 2% , rgb(15, 177, 222) );
}

.contenidoDiferenciales{
    width: 800px; /*tamaño del bloque Contenido*/
    margin: 0 auto; /* Cero top y booton --- automatico para laterales*/
    display: flex;
    flex-direction: row;
}

.listaDiferenciales{
    width: 60%;  /* 60% del total del bloque Contenido*/
    display: inline-block;
    vertical-align: top;
    font-size: 1.5em;
}
.items{
    line-height: 1.3; /*interlineado*/
}

.items:before{
    content: "✀    ";/*Pseudo-elemento que coloca antes de todos nuestros  items el contenido ("content") igual una tijera que sacamos de internet buscando Unicodes*/
}


.items:first-child{/*decimos que al primer en la lista pintamelo de negro (Pseudo-clases-Selecciones especiales) aplicando efectos especiales*/
    font-weight: bold;
}

#imagenDiferenciales{
    width: 40%;  /*40% del total del bloque Contenido-- asi llenamos el 100%*/
    transition: 700ms;
    box-shadow: 10px 10px 30px 10px rgb(255, 255, 255), -10px -10px 30px 5px white;/* sombras externas alrededor de un objeto box-shadow: valor1 valor2 valor3 valor4 valor5;

    Donde los valores son:
    
        Valor1: define el desplazamiento horizontal de la sombra. Puede ser un número positivo, negativo o cero.
    
        Valor2: define el desplazamiento vertical de la sombra. Puede ser un número positivo, negativo o cero.
    
        Valor3: define el desenfoque de la sombra. Puede ser un número positivo o cero.
    
        Valor4: define el alcance de la sombra. Puede ser un número positivo o cero.
    
        Valor5: define el color de la sombra.*/ 
    /*box-shadow: inset 10px 10px 30px 10px black ;--> coloca sombras hacia adentro del objeto  con los parametros  anteriores*/
}
#imagenDiferenciales:hover{ /*Al pasar el mouse sobre la imagen*/
    opacity: 35%;/* para que la imagen se vea opaca: 100%-->sin opacidad <---> 0% --> la imagen no se ve*/
    
}

.video{
    width: 560px;
    margin: 3em auto;
    
}

/* Ver selectores avanzados donde se utilizan el selector ">" para acceder a los hijos de determinado elemento, 
    el selector "~" (símbolo de virgulilla-->Alt+126) para acceder a todos los hermanos de determinado elemento, 
    el selector "+" para acceder al primer hermano de determinado elemento, al selector "not" para acceder a los elementos, excepto algunos*/
    
/* ver Cálculo con CSS utilizando la propiedad "calc" para hacer cuentas en la pantalla de desarrolador*/
@media screen and (max-width:480px) { /*media query-----Dentro de esta media query podemos crear un estilo visual que incluye pantallas de hasta 480pxz*/
      
        h1 {
            text-align: center;
        }
        .logoEnlaces, .mapaContenido, .contenidoDiferenciales, .video{
            width: auto;
        }
        .mapaContenido p{
            font-size: 1em;
            padding-left: 10%;
            padding-right: 10%;
        }
        nav{
            position: static;
            font-size: 8px;
        }
        .utensilios{
            width: 60%;
        }
        .texto{
            font-size: 1em;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 1em;
            line-height: 1;
        }
        .diferenciales{
            display: block;
        }
        .listaDiferenciales, #imagenDiferenciales {
            width: 100%;
            font-size: 1em;
        }
        #imagenDiferenciales{
            padding-top: 1em;
            box-shadow: none;
        }
 /*-----------------------------------Productos---------------------------------------------------*/
        .tiposDeTrabajo{
            width: auto;
            padding: 5px;
            display: flex;
        }
        .imagen{
            width: 100%
         
        }
  /*--------------------------------Contactos-----------------------------------------------------*/
        form{
            margin: auto;
        }

        form label, form legend{
            font-size: 16px;
        }

        .input-padron, #mensaje{
            width: 250px;
        } 
        legend{
            padding-top: 1em;

        }  

}/*la condición en esta media query dice que si el navegador encuentra una pantalla menor o igual(<=) a 480px aplica la condición que puede ser: body{background:red;}*/
