
.titulo-Principal{
    padding-left: 30px;
    font-size: 70px;
    color: rgb(0, 0, 0);
    background-color: rgb(107, 39, 111);
    margin-top: 0%;
    margin-bottom:0%;
}

#banner{
  
    width: 100%;
    height:450px ;
    
    
}
.principal{ /*Selectores de Clase-- MAS RECOMENDADOS DE USAR*/
    background-color: rgb(51, 11, 89);
    padding: 30px;/*espaciamiento interno entre lineas*/
}

h2{text-align: center;/*SELECTORES*/
   font-size: 42px;
    color: azure; 
}


p{ text-align: center;  /*SELECTORES*/
   color: aliceblue;    
}

#mision{ /* tiene un id -Selectores de identificación*/
    font-size: 28px;
}
#caracteristica{
    font-size: 26px;
    margin-left: 15%;
    margin-right: 15%;
    
}


em strong{   /*SELECTORES-*/
    color: rgb(172, 246, 61);
}

.diferenciales{
    background: rgb(218, 140, 85) ;
    padding: 30px;

}

h3{
    color: aliceblue;
   text-align: left;
    font-size: 38px;
    margin-left: 15%;
}

.items{  /*clase---permite reutilizar estilos*/
    font-style: italic;
    font-size: 22px;
    color: aqua;
}

ul{
  
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-left: 10%;
    margin-top: 10%
   
}

.imagenDiferenciales{
    width: 45%;
}